@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Favourite Youtube Song</h1>
    <h2 id="song" class="green-text" onmouseover="newColor()" onmouseout="oldColor()">Check out this great song!</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZbZSe6N_BXs?si=L37dvrhHfLEBFO4G" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
